In [1]:
# DB 테이블 생성 

import pymysql 

db = None 

try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='root',
        passwd='1234',
        db='chatbot',
        charset='utf8'
    )
    
    # 테이블 생성 sql 정의 
    sql = '''
    CREATE TABLE tb_student (
        id int primary key auto_increment not null,
        name varchar(32),
        age int, 
        address varchar(32)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8
    '''
    
    # 테이블 생성 
    # 연결 DB 와 상호작용하려면 cursor 객체 필요. 
    # cursor 객체는 임의로 생성할 수 없으며 DB 호슽에 연결된 객체(db) 의 cursor() 함수로 cursor 객체를 받아와야 한다. 
    # cursor 객체 execute() 함수로 SQL 구문 실행.
    # with 구문 내에서 cursor 객체 사용하기 때문에 사용 후에는 자동으로 메모리 해제.
    with db.cursor() as cursor:
        cursor.execute(sql) 
        
except Exception as e:
    print(e) 
    
finally:
    db.close()
    

# SQL 데이터 삽입 

db = None 
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='root',
        passwd='1234',
        db='chatbot',
        charset='utf8'
    )
    
    # 데이터 삽입 sql 정의
    # tb_student 테이블에 데이터 삽입 하기 위해 정의한 SQL 구문
    sql = '''
    INSERT INTO tb_student(name, age, address) values('min', 40, 'Korea')
    '''
    
    # 데이터 삽입 
    # cursor 객체 execute() 함수로 SQL구문 실행.
    with db.cursor() as cursor:
        cursor.execute(sql)
    db.commit()
    
except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()
        
        
# 데이터 변경 
# 데이터 수정 sql 정의

db = None 
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='root',
        passwd='1234',
        db='chatbot',
        charset='utf8'
    )

    # 데이터 수정 sql 정의
    id = 1  # 데이터 id (PK)
    sql = '''
        UPDATE tb_student set name="케이", age=36 where id=%d
        ''' % id

    # 데이터 수정
    with db.cursor() as cursor:
        cursor.execute(sql)
    db.commit()

except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()        
        
        
        
# 데이터 삭제

db = None 
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='root',
        passwd='1234',
        db='chatbot',
        charset='utf8'
    )

    # 데이터 삭제 sql 정의
    id = 1  # 데이터 id (PK)
    sql = '''
        DELETE from tb_student where id=%d
        ''' % id

    # 데이터 수정
    with db.cursor() as cursor:
        cursor.execute(sql)
    db.commit()

except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()        
        
        
# 데이터 조회 
import pandas as pd 

db = None 
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='root',
        passwd='1234',
        db='chatbot',
        charset='utf8'
    )
    
    # 데이터 db에 추가
    # 학생 정보 저장된 딕셔너리 데이터 정의
    students = [
        {'name': 'Kei', 'age': 36, 'address' : 'PUSAN'},
        {'name': 'Tony', 'age': 34, 'address': 'PUSAN'},
        {'name': 'Jaeyoo', 'age': 39, 'address': 'GWANGJU'},
        {'name': 'Grace', 'age': 28, 'address': 'SEOUL'},
        {'name': 'Jenny', 'age': 27, 'address': 'SEOUL'},
    ]
    for s in students:
        with db.cursor() as cursor:
            sql = '''
            insert tb_student(name, age, address) values("%s","%d","%s") 
            ''' % (s['name'], s['age'], s['address'])    # % (s['name'], d['age'], s['address']  Error
            cursor.execute(sql) 
    db.commit()  # 커밋 
    
    # 30대 학생만 조회 
    # select 명령 위한 SQL 구문 cursor.execute() 함수로 실행하고 검색 결과를 cursro.fetchall() 함수 호출해 받아옴  
    # fetchall() 함수는 select 구문으로 조회한 모든 데이터 불러오는 함수 = 딕셔너리 형태 
    cond_age = 30 
    with db.cursor(pymysql.cursors.DictCursor) as cursor:
        sql='''
        select * from tb_student where age > %d
        ''' % cond_age 
        cursor.execute(sql) 
        results = cursor.fetchall() 
    print(results) 
    
    # 이름 검색 
    # 검색 결과 1건. cursor.fetchone() 함수 호출. 1개의 행만 불러옴
    cond_name = 'Grace'
    with db.cursor(pymysql.cursors.DictCursor) as cursor: 
        sql = ''' 
            select * from tb_student where name ="%s"
        ''' % cond_name 
        cursor.execute(sql) 
        result = cursor.fetchone() 
    print(result['name'], result['age'])   # 조회 결과에서 name, age 데이터만 출력
    
    # pandas 데이터 프레임으로 표현 
    # DB 조회 결과를 판다스 데이터 객체로 변환해 편리하게 데이터 처리 가능
    df = pd.DataFrame(results) 
    print(df) 
    
except Exception as e:
    print(e) 
    
finally:
    if db is not None:
        db.close()

[{'id': 2, 'name': 'Kei', 'age': 36, 'address': 'PUSAN'}, {'id': 3, 'name': 'Tony', 'age': 34, 'address': 'PUSAN'}, {'id': 4, 'name': 'Jaeyoo', 'age': 39, 'address': 'GWANGJU'}]
Grace 28
   id    name  age  address
0   2     Kei   36    PUSAN
1   3    Tony   34    PUSAN
2   4  Jaeyoo   39  GWANGJU